.navbar {
    background-color: #597a92;
    z-index: 5;
}
.navbar .navbar-brand img {
    max-height: 3rem;
}
.navbar {
    background-color: #1b1e21;
}
.navbar img{
    max-height: 3rem;
}
.navbar-nav {
    align-items: center;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.carousel {
    position: absolute;
    width: 100%;
    top: 3rem;
    z-index: -1;
}
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*****************************************/
/*            Page d'accueil             */
/*****************************************/
#accueil {
    padding-top: 3rem;
}


/*****************************************/
/*                Verifage               */
/*****************************************/
.filter-dark {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #0009;
    top:0;
    z-index: 100;
}
#verifage {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 101;
}
#verifage > div {
    width: 780px;
    position: fixed;
    background: #fff;
    padding: 80px;
    margin: 0 auto 6rem auto;
    text-align: center;
}